<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section th:fragment="listadoClientes" id="clientes">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<div class="card">
						<div class="card-header">
							<h4>[[#{plantilla.titulo}]]</h4>
							<div th:if="${personas != null and !personas.empty}">
								<table class="table table-stryped">
									<thead class="thead-dark">
										<tr>
											<th>#</th>
											<th th:text="#{persona.nombre}"></th>
											<th th:text="#{persona.apellido}"></th>
											<th th:text="#{persona.correo}"></th>
											<th th:text="#{persona.telefono}"></th>
											<th th:text="#{persona.saldo}"></th>
											<th th:text="#{persona.opciones}"
												sec:authorize="hasRole('ROLE_ADMIN')"></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="persona,contador: ${personas}">
											<th th:text="${contador.count}"></th>
											<th th:text="${persona.nombre}"></th>
											<th th:text="${persona.apellido}"></th>
											<th th:text="${persona.email}"></th>
											<th th:text="${persona.telefono}"></th>
											<th th:text="${new java.text.DecimalFormat('$#,##0.00').format(persona.saldo)}"></th>
											<th sec:authorize="hasRole('ROLE_ADMIN')">
												<a class="btn btn-secondary"
												th:href="@{/editar/}+${persona.idPersona}"
												>
													<i class="fas fa-angle-double-right"></i> [[#{persona.editar}]]
												</a> 
												<a class="btn btn-dark"
												th:href="@{/eliminar(idPersona=${persona.idPersona})}">
													<i class="fas fa-angle-double-right"></i> [[#{persona.eliminar}]]
												</a>
												
											</th>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card text-center bg-danger text-white mb-3">
						<div class="card-body">
							<h3 th:text="#{persona.saldoTotal}"></h3>
							<h4 class="display-4">
								[[${new java.text.DecimalFormat('$#,##0.00').format(saldoTotal)}]]
							</h4>
						</div>
					</div>
					<div class="card text-center bg-success text-white mb-3">
						<div class="card-body">
							<h3 th:text="#{persona.totalClientes}"></h3>
							<h4 class="display-4">
								<i class="fas fa-users"></i> 
								[[${totalClientes}]]
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>